{% extends "base" %}

{% block init %}
    {% set title = "500 Internal Server Error" %}
    {% set show_contact = True %}

    {% set page_title = "An Error Has Occurred" %}
    {% set page_subtitle = "A server error has occurred. Please retry, or ask in our Discord." %}
{% endblock %}
