<!DOCTYPE html>
<html lang="EN">
<head>
    <meta name="description" content="The most powerful Discord Reminders Bot">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="yandex-verification" content="bb77b8681eb64a90"/>
    <meta name="google-site-verification" content="7h7UVTeEe0AOzHiH3cFtsqMULYGN-zCZdMT_YCkW1Ho"/>
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src *; font-src fonts.gstatic.com 'self'"> -->

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180"
          href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
          href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>Reminder Bot | Dashboard</title>

    <!-- styles -->
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/fa.css">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/dtsel.css">

    <script src="/static/js/luxon.min.js"></script>
</head>
<body>
<nav class="navbar is-spaced is-size-4 is-hidden-desktop dashboard-navbar" role="navigation"
     aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <figure class="image">
                <img src="/static/img/logo_flat.webp" alt="Reminder Bot Logo">
            </figure>
        </a>

        <p class="navbar-item pageTitle">
        </p>

        <a role="button" class="navbar-burger is-right" aria-label="menu" aria-expanded="false"
           data-target="mobileSidebar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
</nav>

<div id="loader" class="is-hidden hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                <i class="fas fa-cog fa-spin"></i>
            </p>
            <p class="subtitle">
                <strong>Loading...</strong>
            </p>
        </div>
    </div>
</div>

<!-- dead image used to check which other images are dead -->
<img src="" id="dead">

<div class="notification is-danger flash-message" id="errors">
    <span class="icon"><i class="far fa-exclamation-circle"></i></span> <span class="error-message"></span>
</div>

<div class="modal" id="addImageModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <label class="modal-card-title" for="urlInput">Enter Image URL</label>
            <button class="delete close-modal" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <input class="input" id="urlInput" placeholder="Image URL...">
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" id="setImgUrl">Save</button>
            <button class="button close-modal">Cancel</button>
        </footer>
    </div>
    <button class="modal-close is-large close-modal" aria-label="close"></button>
</div>

<div class="modal" id="pickColorModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <label class="modal-card-title" for="colorInput">Select Color</label>
            <button class="delete close-modal" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="colorpicker-container">
                <div id="colorpicker"></div>
            </div>
            <input class="input" id="colorInput">
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success">Save</button>
            <button class="button close-modal">Cancel</button>
        </footer>
    </div>
    <button class="modal-close is-large close-modal" aria-label="close"></button>
</div>

<div class="modal" id="chooseTimezoneModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <label class="modal-card-title" for="urlInput">Update Timezone <a href="/help/timezone"><span><i class="fa fa-question-circle"></i></span></a></label>
            <button class="delete close-modal" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <p>
                Your configured timezone is: <strong><span class="set-timezone">%browsertimezone%</span></strong> (<span class="set-time">HH:mm</span>)
                <br>
                <br>
                Your browser timezone is: <strong><span class="browser-timezone">%browsertimezone%</span></strong> (<span class="browser-time">HH:mm</span>)
                <br>
                Your bot timezone is: <strong><span class="bot-timezone">%bottimezone%</span></strong> (<span class="bot-time">HH:mm</span>)
            </p>
            <br>
            <div class="has-text-centered">
                <button class="button is-success close-modal" id="set-browser-timezone">Use Browser Timezone</button>
                <button class="button is-link close-modal" id="set-bot-timezone">Use Bot Timezone</button>
                <button class="button is-warning close-modal" id="update-bot-timezone">Set Bot Timezone</button>
            </div>
        </section>
    </div>
    <button class="modal-close is-large close-modal" aria-label="close"></button>
</div>

<div class="modal" id="chooseTemplateModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <label class="modal-card-title" for="urlInput">Load Template</label>
            <button class="delete close-modal" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="control has-icons-left">
                <div class="select is-fullwidth">
                    <select id="templateSelect">
                    </select>
                </div>
                <div class="icon is-small is-left">
                    <i class="fas fa-file-spreadsheet"></i>
                </div>
            </div>
            <br>
            <div class="has-text-centered">
                <button class="button is-success close-modal" id="load-template">Load Template</button>
                <button class="button is-danger" id="delete-template">Delete</button>
            </div>
        </section>
    </div>
    <button class="modal-close is-large close-modal" aria-label="close"></button>
</div>

<div class="modal" id="dataManagerModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <label class="modal-card-title" for="urlInput">Import/Export Manager <a href="/help/iemanager"><span><i class="fa fa-question-circle"></i></span></a></label>
            <button class="delete close-modal" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="has-text-centered">
                <button class="button is-success is-outlined" id="import-data">Import Data</button>
                <button class="button is-success" id="export-data">Export Data</button>
            </div>
        </section>
    </div>
    <button class="modal-close is-large close-modal" aria-label="close"></button>
</div>

<div class="modal" id="deleteReminderModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <label class="modal-card-title" for="urlInput">Delete Reminder</label>
            <button class="delete close-modal" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <p>
                This reminder will be permenantly deleted. Are you sure?
            </p>
            <br>
            <div class="has-text-centered">
                <button class="button is-danger" id="delete-reminder-confirm">Delete</button>
                <button class="button is-light close-modal">Cancel</button>
            </div>
        </section>
    </div>
    <button class="modal-close is-large close-modal" aria-label="close"></button>
</div>

<div class="columns is-gapless dashboard-frame">
    <div class="column is-2 is-sidebar-menu dashboard-sidebar is-hidden-touch">
        <a href="/">
            <div class="brand">
                <img src="/static/img/logo_flat.webp" alt="Reminder bot logo"
                     class="dashboard-brand">
            </div>
        </a>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 160">
            <g transform="scale(1, 0.5)">
                <path fill="#8fb677" fill-opacity="1"
                      d="M0,192L60,170.7C120,149,240,107,360,96C480,85,600,107,720,138.7C840,171,960,213,1080,197.3C1200,181,1320,107,1380,69.3L1440,32L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
            </g>
        </svg>
        <aside class="menu">
            <p class="menu-label">
                Servers
            </p>
            <ul class="menu-list guildList">

            </ul>
            <div class="aside-footer">
                <p class="menu-label">
                    Settings
                </p>
                <ul class="menu-list">
                    <li>
                        <a class="show-modal" data-modal="dataManagerModal">
                            <span class="icon"><i class="fas fa-exchange"></i></span> Import/Export
                        </a>
                        <a class="show-modal" data-modal="chooseTimezoneModal">
                            <span class="icon"><i class="fas fa-map-marked"></i></span> Timezone
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
    </div>

    <div class="dashboard-sidebar mobile-sidebar is-hidden-desktop" id="mobileSidebar">
        <a href="/">
            <div class="brand">
                <img src="/static/img/logo_flat.webp" alt="Reminder bot logo"
                     class="dashboard-brand">
            </div>
        </a>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 160">
            <g transform="scale(1, 0.5)">
                <path fill="#8fb677" fill-opacity="1"
                      d="M0,192L60,170.7C120,149,240,107,360,96C480,85,600,107,720,138.7C840,171,960,213,1080,197.3C1200,181,1320,107,1380,69.3L1440,32L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
            </g>
        </svg>
        <aside class="menu">
            <p class="menu-label">
                Servers
            </p>
            <ul class="menu-list guildList">

            </ul>
            <div class="aside-footer">
                <p class="menu-label">
                    Settings
                </p>
                <ul class="menu-list">
                    <li>
                        <a class="show-modal" data-modal="dataManagerModal">
                            <span class="icon"><i class="fas fa-exchange"></i></span> Import/Export
                        </a>
                        <a class="show-modal" data-modal="chooseTimezoneModal">
                            <span class="icon"><i class="fas fa-map-marked"></i></span> Timezone
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
    </div>

    <!-- main content -->
    <div class="column is-main-content">
        <p class="title pageTitle"></p>
        <section id="welcome">
            <div class="has-text-centered">
                <p class="title">Welcome!</p>
                <p class="subtitle is-hidden-touch">Select an option from the side to get started</p>
                <p class="subtitle is-hidden-desktop">Press the <span class="icon"><i class="fal fa-bars"></i></span> to get started</p>
            </div>
        </section>
        <section id="guild" class="is-hidden">
            {% include "reminder_dashboard/reminder_dashboard" %}
        </section>
        <section id="guild-error" class="is-hidden hero is-fullheight">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <p class="title">
                        We couldn't get this server's data
                    </p>
                    <p class="subtitle">
                        Please check Reminder Bot is in the server, and has correct permissions.
                    </p>
                    <a class="button is-size-4 is-rounded is-success" href="https://invite.reminder-bot.com">
                        <p class="is-size-4">
                            <span>Add to Server</span> <span class="icon"><i class="fas fa-chevron-right"></i></span>
                        </p>
                    </a>
                </div>
            </div>
        </section>
    </div>
    <!-- /main content -->
</div>

<template id="embedFieldTemplate">
    <div data-inlined="1" class="embed-field-box">
        <div class="is-flex">
            <label>
                <span class="is-sr-only">Field Title</span>
                <textarea class="discord-field-title field-input message-input autoresize"
                          placeholder="Field Title..." rows="1"
                          maxlength="256" name="embed_field_title[]"></textarea>
            </label>
            <button class="button is-small inline-btn">
                <span class="is-sr-only">Toggle field inline</span><i class="fas fa-arrows-h"></i>
            </button>
        </div>

        <label>
            <span class="is-sr-only">Field Value</span>
            <textarea
                    class="discord-field-value field-input message-input autoresize"
                    placeholder="Field Value..."
                    maxlength="1024" name="embed_field_value[]"
                    rows="1"></textarea>
        </label>
    </div>
</template>

<template id="guildListEntry">
    <li>
        <a class="switch-pane" data-pane="guild">
            <span class="icon"><i class="fas fa-map-pin"></i></span> <span class="guild-name">%guildname%</span>
        </a>
    </li>
</template>

<template id="guildReminder">
    {% include "reminder_dashboard/guild_reminder" %}
</template>

<script src="/static/js/iro.js"></script>
<script src="/static/js/dtsel.js"></script>

<script src="/static/js/interval.js"></script>
<script src="/static/js/timezone.js" defer></script>
<script src="/static/js/main.js" defer></script>

</body>
</html>
